
$navbar-bg: #f5deb3;
$text-color: #8b4513;
$hover-color: #a0522d;

.container {
  .card {
    border: 2px solid $text-color;
    border-radius: 10px;
    background-color: $navbar-bg;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;



    &:hover {
      transform: translateY(-10px);
      box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    }

    .img-fluid {
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .card-img-container {
      position: relative;
      overflow: hidden;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      img {
        display: block;
        height: auto;
        object-fit: contain;
        min-height: 300px;
        width: 100%;
      }
    }

    .card-body {
      padding: 15px;
      background-color: $navbar-bg;

      .book-info {
        .card-title {
          font-weight: bold;
          margin-bottom: 10px;
          font-size: 1.2rem;
          color: $text-color;
        }

        .card-text {
          font-size: 0.9rem;
          color: $text-color;

          &.text-muted {
            color: darken($navbar-bg, 20%);
          }

          .text-success {
            font-weight: bold;
            color: #228B22;
          }
        }
      }

      a.btn, .ButtonDetails {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $text-color;
        padding: 8px 12px;
        border: 1px solid $text-color;
        border-radius: 5px;
        background-color: lighten($navbar-bg, 10%);

        &:hover {
          background-color: darken($navbar-bg, 10%);
          color: #fff;
        }

        svg {
          margin-left: 5px;
          width: 25px;
          height: 25px;
        }
      }
    }

    @media (max-width: 576px) {
      .card-body {
        padding: 10px;
        text-align: center;
      }
    }
  }
}


.badge {
  font-size: 0.9rem;
  margin-right: 5px;
  background-color: $text-color;
}

.text {
  color: $text-color;
}


.book-section .card {
  border: 2px solid $text-color;
  border-radius: 10px;
  background-color: $navbar-bg;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: calc(110% - 20px);
  margin: 0 auto;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  }

  .card-img-container {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    img {
      display: block;
      height: auto;
      object-fit: contain;
      min-height: 250px;
      width: 100%;
    }
  }

  .card-body {
    padding: 15px;
    background-color: $navbar-bg;
    flex: 1;
    display: flex;
    flex-direction: column;

    .book-info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .card-title {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1.2rem;
        color: $text-color;
        min-height: 40px;
        display: -webkit-box;
        display: box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .card-text {
        font-size: 0.9rem;
        color: $text-color;

        &.text-muted {
          color: darken($navbar-bg, 20%);
        }

        &.text-success {
          font-weight: bold;
          color: #228B22;
        }
      }
    }

    .mt-3 {
      margin-top: auto;
    }

    a.btn, .ButtonDetails {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text-color;
      padding: 8px 12px;
      border: 1px solid $text-color;
      border-radius: 5px;
      background-color: lighten($navbar-bg, 10%);
      text-decoration: none;

      &:hover {
        background-color: darken($navbar-bg, 10%);
        color: #fff;
      }

      svg {
        margin-left: 5px;
        width: 25px;
        height: 25px;
      }
    }
  }
}
