<div class="container mt-4">
  <div *ngIf="book; else loading">
    <div class="row">
      <div class="col-md-4">
        <img
          [src]="getCoverImagePath(book.coverImagePath)"
          (error)="handleImageError($event)"
          class="img-fluid"
          alt="Cover image of {{ book.name }}"
        />
      </div>
      <div class="col-md-8">
        <h2>{{ book.name }}</h2>
        <p>
          <strong>Author:</strong>
          <a [routerLink]="['/detailsAuthor', book.author?.authorId]">
            {{ book.author?.fullName }}
          </a>
        </p>

        <p>
          <strong>Published:</strong>
          {{ book.publicationDate | date : "mediumDate" }}
        </p>
        <p><strong>Price:</strong> {{ book.price | currency }}</p>
        <p><strong>Number of pages:</strong> {{book.numberOfPages}}</p>
        <p><strong>Description:</strong> {{ book.description }}</p>

        <!-- Visualizzazione dei generi come link -->
        <p *ngIf="book.genres && book.genres.length > 0">
          <strong>Genres:</strong>
          <span *ngFor="let genre of book.genres; let i = index">
            <a [routerLink]="['/detailGenre', genre.genreId]">{{ genre.genreName }}</a>
            <span *ngIf="i < book.genres.length - 1">, </span>
          </span>
        </p>
        <p><strong>Available:</strong> {{ book.availableQuantity > 0 ? "Yes" : "No" }}</p>

        <!-- Controlla se l'utente ha i ruoli Admin o SuperAdmin per mostrare il pulsante di aggiornamento -->
        <a *ngIf="authService.hasRole(['Admin', 'SuperAdmin'])" [routerLink]="['/updateBook', book.bookId]" class="btn btn-warning">Update</a>

        <!-- Mostra il pulsante di eliminazione solo agli admin -->
        <button *ngIf="authService.hasRole(['Admin', 'SuperAdmin'])" (click)="deleteBook()">Elimina Libro</button>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <p>Loading book details...</p>
  </ng-template>
</div>
