.pointer {
  cursor: pointer;
}

.navbar-custom {
  background-color: #f5deb3;
  border-bottom: 2px solid #d2b48c;

  .navbar-brand {
    font-family: 'Georgia', serif;
    color: #8b4513;
    font-weight: bold;
    &:hover {
      color: #a0522d;
    }
  }

  .navbar-toggler {
    border-color: #8b4513;

  }

  .nav-link {
    color: #8b4513;
    margin-right: 8px;
    padding: 10px;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: color 0.3s ease, background-color 0.3s ease;
    &:hover {
      color: #fff;
      background-color: #a0522d;
      border-radius: 5px;
    }
  }

  .nav-item .active {
    font-weight: bold;
    border-bottom: 2px solid #d2b48c;
  }
}
.bord{
  border-color: #8b4513 !important;
}
