<div class="container mt-5 d-flex justify-content-center">
  <div class="card p-4 shadow-lg form-container">
    <h2 class="text-center mb-4 text">Crea il tuo Account</h2>

    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group mb-3">
        <label for="firstName" class="form-label fs-5">Nome:</label>
        <input
          type="text"
          id="firstName"
          class="form-control"
          formControlName="firstName"
          placeholder="Inserisci il tuo nome"
        />
        <div
          *ngIf="registrationForm.get('firstName')?.errors?.['required'] && registrationForm.get('firstName')?.touched"
          class="text-danger small"
        >
          Il nome è obbligatorio
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="lastName" class="form-label fs-5">Cognome:</label>
        <input
          type="text"
          id="lastName"
          class="form-control"
          formControlName="lastName"
          placeholder="Inserisci il tuo cognome"
        />
        <div
          *ngIf="registrationForm.get('lastName')?.errors?.['required'] && registrationForm.get('lastName')?.touched"
          class="text-danger small"
        >
          Il cognome è obbligatorio
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="username" class="form-label fs-5">Username:</label>
        <input
          type="text"
          id="username"
          class="form-control"
          formControlName="username"
          placeholder="Inserisci uno username"
        />
        <div
          *ngIf="registrationForm.get('username')?.errors?.['required'] && registrationForm.get('username')?.touched"
          class="text-danger small"
        >
          Lo username è obbligatorio
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="email" class="form-label fs-5">Email:</label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
          placeholder="Inserisci la tua email"
        />
        <div
          *ngIf="registrationForm.get('email')?.errors?.['required'] && registrationForm.get('email')?.touched"
          class="text-danger small"
        >
          L'email è obbligatoria
        </div>
        <div
          *ngIf="registrationForm.get('email')?.errors?.['email'] && registrationForm.get('email')?.touched"
          class="text-danger small"
        >
          Inserisci un'email valida
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="password" class="form-label fs-5">Password:</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
          placeholder="Inserisci la tua password"
        />
        <div
          *ngIf="registrationForm.get('password')?.errors?.['required'] && registrationForm.get('password')?.touched"
          class="text-danger small"
        >
          La password è obbligatoria
        </div>
        <div
          *ngIf="registrationForm.get('password')?.errors?.['minLength'] && registrationForm.get('password')?.touched"
          class="text-danger small"
        >
          La password deve avere almeno sei caratteri
        </div>
      </div>


      <div class="form-group mb-4">
        <label for="imageFile" class="form-label fs-5">Immagine del profilo (opzionale):</label>
        <input
          type="file"
          id="imageFile"
          class="form-control"
          (change)="onFileSelected($event)"
        />
      </div>

      <button type="submit" class="buttonAdd m-auto">
        <span class="button__text">Registrati</span>
        <span class="button__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg">
            <line y2="19" y1="5" x2="12" x1="12"></line>
            <line y2="12" y1="12" x2="19" x1="5"></line>
          </svg>
        </span>
      </button>
    </form>
  </div>
</div>
