<div class="container mt-5">
  <div class="card p-4 shadow-lg col-lg-8 m-auto">
    <h2 class="text-center mb-4 text">Crea un nuovo genere</h2>
    <form (submit)="createGenre()">
      <div class="form-group mb-3">
        <label for="genreName" class="form-label fs-5">Nome del genere</label>
        <input type="text" id="genreName" [(ngModel)]="genreName" name="genreName" class="form-control" required placeholder="Inserisci il nome del genere">
      </div>
      <button type="submit" class="buttonAdd m-auto">
        <span class="button__text">Crea</span>
        <span class="button__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg">
            <line y2="19" y1="5" x2="12" x1="12"></line>
            <line y2="12" y1="12" x2="19" x1="5"></line>
          </svg>
        </span>
      </button>
    </form>
  </div>
</div>
