$navbar-bg: #f5deb3;
$text-color: #8b4513;
$hover-color: #a0522d;

.container {
  .card {
    border: 2px solid $text-color;
    border-radius: 10px;
    background-color: $navbar-bg;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Ripristina lo shadow corretto
    overflow: hidden;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); // Ripristina lo shadow per hover
    }

    .form-group {
      margin-bottom: 20px;

      .form-label {
        font-weight: bold;
        color: $text-color;
      }

      .form-control {
        border: 1px solid $text-color;
        border-radius: 5px;
        color: $text-color; // Colore del testo inserito dall'utente

        &::placeholder {
          color: $text-color; // Colore del placeholder
          opacity: 1; // Rende il placeholder pienamente visibile
        }

        &:focus {
          border-color: $text-color; // Colore del bordo quando l'input è attivo
          box-shadow: 0 0 0 0.2rem rgba($text-color, 0.25); // Personalizza l'ombra sul focus
        }
      }
    }

    .text {
      color: $text-color;
    }
  }
}
